---
name: Build and Publish Package
on:
  push:
    branches:
      - "master"
      - "prerelease"
permissions:
  contents: write
  packages: write
  issues: write
  pull-requests: write
  attestations: write
  id-token: write
jobs:
  build:
    uses: aps831/workflows/.github/workflows/build-and-publish-maven-in-docker-jar-artifact-v2.yaml@master
    with:
      dockerfile: Dockerfile
      build-commands: |
        mvn --batch-mode -Denforcer.fail=$WORKFLOW_CONTROL_RELEASE clean install
      templated-files: |
        README.tpl.md
        README2.tpl.md
      settings-file: ""
    secrets:
      ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
